.logo {
  height: 40px;
  width: 40px;
}

.reload-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.hero {
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 60px;
}

.language {
  padding-right: 100px;
}

.app-content {
  /* push content below the fixed header */
  padding-top: 20px; /* content spacing inside app-content */
  
  /* background image */
  background-image: url('./assets/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  image-rendering: auto;
  
  min-height: calc(100vh - 80px); /* full height minus header */
  margin-top: 80px; /* make sure it's below the fixed header */
}

.text {
  color: rgb(0, 15, 154);
  width: 50vw;
  font-size: 40px;
  margin-top: 60px;
}